<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/9c938b3d7b.js" crossorigin="anonymous"></script>
    <title>Dnsquery/whoisdetails</title>

</head>
<style>
    body {
        background-color: #1a1a1a;
        text-align: center;
        font-family: 'Trebuchet MS', sans-serif;
        font-size: 24px;
       }
</style>
<body>
<h2 style="color:#4dff4d">Whois record:</h2>
<p style="color:white;">
    {% for x in whois_list %}
    {{ x }}<br><br>
    {% endfor %}
</p>
<h2 style="color:#4dff4d">NS record:</h2>
{% for num in ns_list %}<p style="color:white">{{ num }}</p>{% endfor %}
<h2 style="color:#4dff4d">Method:</h2>
<p style="color:white">Check if NS record matches "name_servers" in Whois record</p>
{% if error == 1 %}
<p style="color:crimson"><i class="fa-solid fa-triangle-exclamation fa-beat-fade"></i> Whois record missing:<br>
    {% for x in whois_error %}
    {{ x }}<br>
    {% endfor %}
</p>
<p style="color:crimson"><i class="fa-solid fa-triangle-exclamation fa-beat-fade"></i> NS record missing:<br>
    {% for x in ns_error %}
    {{ x }}<br>
    {% endfor %}
</p>
<p style="color:gold"><i class="fa-solid fa-lightbulb fa-bounce"></i> Solution: Please update Whois record to match NS records</p>
<br>
{% elif error == 0 %}
<p style="color:gold">Whois record correct</p>
{% endif %}
</body>
</html>
